/*
 * Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/*
 * This is the flash map (fmap) for a twostop firmware. It defines all the areas
 * that Chrome OS expects to find in its firmware device. The device is split
 * into a number of top-level sections, and within each are several areas.
 */

/ {
	flash {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "chromeos,flashmap";
		reg = <0x00000000 0x00200000>;

		/*
		 * We have 2 MB of space and reserve top 1 MB for read-only,
		 * and bottom 1 MB for readwrite.
		 *
		 * Section readwrite slot A and B are stored on internal MMC
		 * (not flash actually). We use starting address greater than
		 * 2 MB for these sections.
		 */

		/* ---- Onestop Blob Layout ---- */
		onestop-layout {
			#address-cells = <1>;
			#size-cells = <1>;

			/* size: 512 KB */
			reg = <0x00000000 0x00080000>;

			/* u-boot image including fdt: first ~503 KB */
			firmware-image {
				reg = <0x00000000 0x0007df00>;
			};

			/* verification block: 8 KB */
			verification-block {
				reg = <0x0007df00 0x00002000>;
			};

			/* frimware ID: 256 Bytes */
			firmware-id {
				reg = <0x0007ff00 0x00000100>;
			};
		};

		/* ---- Section: Read-only ---- */
		readonly {
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x00000000 0x00100000>;
			onestop { /* onestop layout inside */
				reg = <0x00000000 0x00080000>;
			};
			data {
				reg = <0x00080000 0x00008000>;
			};
			fmap {
				reg = <0x00088000 0x00000400>;
			};
			gbb {
				reg = <0x00088400 0x00020000>;
			};
			vpd {
				reg = <0x000a8400 0x00010000>;
			};
		};

		/* ---- Section: Readwrite ---- */
		readwrite {
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x00100000 0x00100000>;
			vpd {
				reg = <0x00100000 0x00080000>;
			};
			dev-cfg {
				reg = <0x00180000 0x00040000>;
			};
			shared-data {
				reg = <0x001c0000 0x00030000>;
			};
			env {
				reg = <0x001f0000 0x00010000>;
			};
		};

		/* ---- Section: Readwrite slot A ---- */
		readwrite-a {
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x00200000 0x00080000>;
			onestop { /* onestop layout inside */
				reg = <0x00000000 0x00080000>;
			};
		};

		/* ---- Section: Readwrite slot B ---- */
		readwrite-b {
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x00280000 0x00080000>;
			onestop { /* onestop layout inside */
				reg = <0x00000000 0x00080000>;
			};
		};
	};
};
